# Neovim submodule
.config/nvim/lazy-lock.json

# FTFPS config
.config/FTPFS/*.yaml*

# Local excutable files
.local/bin/*
!.local/bin/brightness
!.local/bin/now

# Vim temp
.vim/*

# Wireguard
.wireguard/*

