# Lazy Nvim LockFiles
.config/nvim/lazy-lock.json

# Custom sys Migrations lock file
.scripts/sys-migrations/sync.lock

# Local Ruby Path
.exports/ruby.path

# Mozilla Profiles (Prevent Tracking)
.mozilla/firefox/profiles.ini


